<form [formGroup]="formGroup">
  <div class="container-fluid">
    <div class="form-group">
      <label for="name">Имя</label>
      <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Имя"
             formControlName="name"
             [ngClass]="{'has-error': formGroup.get('name')?.invalid && formGroup.get('name')?.touched}">
      <small id="nameHelp" class="form-text text-muted">Обязательное поле только буквы и цифры</small>
    </div>


    <button class="btn btn-primary mt-4 mb-2" [disabled]="formGroup.invalid"
            (click)="onAdd()">Сохранить</button>
    <button class="btn btn-warning ms-2 mt-4 mb-2" *ngIf="id" (click)="onReset()">Cбросить</button>
    <button class="btn btn-danger ms-2 mt-4 mb-2" *ngIf="id" (click)="onDelete()">Удалить</button>
  </div>
</form>

