<footer class="text-center text-lg-start text-muted bg-primary mt-3">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start pt-4 pb-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-12 col-lg-3 col-sm-12 mb-2">
          <!-- Content -->
          <a href="https://mdbootstrap.com/" target="_blank" class="text-white h2">
            Политех
          </a>
          <p class="mt-1 text-white">
            © 2023 Copyright: Mospolytech
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-6 col-sm-4 col-lg-2">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">
            Магазин
          </h6>
          <ul class="list-unstyled mb-4">
            <li><a class="text-white-50" href="#">О нас</a></li>
            <li><a class="text-white-50" href="#">Найти магазин</a></li>
            <li><a class="text-white-50" href="#">Категории</a></li>
            <li><a class="text-white-50" href="#">Блоги</a></li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-6 col-sm-4 col-lg-2">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">
            Информация
          </h6>
          <ul class="list-unstyled mb-4">
            <li><a class="text-white-50" href="#">Поддержка</a></li>
            <li><a class="text-white-50" href="#">Возврат денег</a></li>
            <li><a class="text-white-50" href="#">Информация о доставке</a></li>
            <li><a class="text-white-50" href="#">Возврат товара</a></li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-6 col-sm-4 col-lg-2">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">
            Поддержка
          </h6>
          <ul class="list-unstyled mb-4">
            <li><a class="text-white-50" href="#">Документы</a></li>
            <li><a class="text-white-50" href="#">Восстановление аккаунта</a></li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-12 col-sm-12 col-lg-3">
          <!-- Links -->
          <h6 class="text-uppercase text-white fw-bold mb-2">Информационная рассылка</h6>
          <p class="text-white">Будьте в курсе последних обновлений и новостей</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control border" placeholder="Email" aria-label="Email"
                   aria-describedby="button-addon2"/>
            <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
              Подписаться
            </button>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <div class="">
    <div class="container">
      <div class="d-flex justify-content-between py-4 border-top">
        <!--- payment --->
        <div>
          <i class="fab fa-lg fa-cc-visa text-white"></i>
          <i class="fab fa-lg fa-cc-amex text-white"></i>
          <i class="fab fa-lg fa-cc-mastercard text-white"></i>
          <i class="fab fa-lg fa-cc-paypal text-white"></i>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
